@import "tailwindcss";
@import url("https://unpkg.com/ionicons@7.1.0/dist/collection/components/icon/icon.css");

@theme {
  --color-DarkBlue: hsl(209, 23%, 22%);
  --color-VeryDarkBlueBg: hsl(207, 26%, 17%);
  --color-VeryDarkBlueText: hsl(200, 15%, 8%);
  --color-DarkGrayInput: hsl(0, 0%, 52%);
  --color-VeryLightGrayBg: hsl(0, 0%, 98%);
  --color-White: hsl(0, 0%, 100%);
}

@custom-variant dark (&:where(.dark, .dark *));
